.playlist-container{
    background-color: #afb3bc;
    width:100vw;
    height: 92vh;
    left:0;
    top: 8vh;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap:2.5vw;
}

.displaySongs{
    position: relative;
    border: 2px solid blue;
    height: 91vh;
    width: 75vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.display-playlist{
    border: 2px solid blue;
    width: 25vw;
    height: 91vh;
}

.playlist-icon {
    position: relative;
    color: white;
    width: 5vw;
    height: 5vh;
    margin-bottom: 1vh;
    /*background-size: 60vw;*/
}

.playlist-name {
    border: 1px solid black;
    width: 20vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}
